
<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books Web App</title>
</head>
<body>
<h1>Authors List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th></th>
        <th>Books</th>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">xx</td>
        <td th:text="${author.firstName}">xx</td>
        <td th:text="${author.lastName}">xx</td>

    </tr>
</table>

</body>
</html>